.box-rack {
  display: flex;
  overflow-x: scroll;
  margin: 10px;
  padding: 10px;
}

.box-rack-child {
  padding: 10px;
}

.box-rack-child-title {
  color: white;
  width: 150px;
  border-radius: 10px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #3b3b64;
  text-align: center;
  box-shadow: 5px 5px 5px white;
}

.box-rack-child-open {
  width: 200px;
  background: linear-gradient(90deg, rgba(134, 93, 58, 1) 0%, rgba(99, 50, 7, 1) 100%);
  text-align: center;
  border-radius: 10px;
  border: 10px solid #6d4c41;
  height: 500px;

}

.box-rack-child-open-title {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  border: 2px solid black;
  outline: 2px solid black;
  outline-offset: 2px;
  border-radius: 2px;
}

.box-rack-child-open-img {
  border-radius: 100%;
  width: 70px;
  height: 70px;
  border: 2px solid black;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
}

.box-rack-child-open-icon {
  float: right;
  background-color: white;
  width: 10px;
  height: 100px;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 100px;
}

.box-rack-child-items {
  display: flex;
  width: 200px;
  background-color: #5d4037;
  text-align: center;
  border-radius: 10px;
  border: 10px solid #6d4c41;
  height: 500px;
}

.box-rack-child-items-item {
  width: 60px;
  height: 25%;
  background-color: blue;
  border-radius: 10px;
  margin: 4px;
  padding: 1px;
}

.box-rack-child-items-item-title {
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.1);
  margin: 2.5px;
}

.box-rack-child-items-item-icon {
  background-color: grey;
  border-radius: 100%;
  border: 2px solid #546e7a;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.6) inset;
  width: 20px;
  height: 20px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.box-rack-child-items-item-title-info1 {
  text-align: center;
  color: black;
  margin-top: 5px;
  font-weight: bold;
}

.box-rack-child-items-item-title-info2 {
  text-align: center;
  color: blue;
  margin-top: 5px;
  font-weight: bold;
}

.box-rack-child-items-item-title-number {
  text-align: center;
  color: black;
  margin-top: 5px;
  font-weight: bold;
}

.box-rack-child-items-item-title-icon {
  width: 40px;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}

//  .box-rack-items-icon{
//   width: 160px;
//   height: 10px;
//   margin-left: auto;
//   margin-right: auto;
//   background-color: black;
// } 