<div class="box-rack">
  <div class="box-rack-child" *ngFor="let row of dataModelResult.listItems">
    <div class="box-rack-child-title" [style.background]="row.iconColor">
      {{row.title}}
    </div>
    <!-- <div [class]="rackvalidation?'box-rack-child-items': 'box-rack-child-open'"(click)="rackvalidation?CloseItemsRack():OpenItemsRack()"> -->
    <div (click)="rackvalidation?CloseItemsRack():OpenItemsRack()">
      <div [hidden]="rackvalidation" class="box-rack-child-open">
        <div class="box-rack-child-open-title" [style.border-color]="row.iconColor"
          [style.outline-color]="row.iconColor">
          {{row.description}}
        </div>
        <img class="box-rack-child-open-img" [style.border-color]="row.iconColor"
          src="https://mahyarniknaddaf.ir/assets/img/img-my.JPG" alt="img">
        <div class="box-rack-child-open-icon"></div>
      </div>
      <div [hidden]="!rackvalidation" class="box-rack-child-items">
        <div class="box-rack-child-items-item" [style.background]="row.iconColor">
          <div class="box-rack-child-items-item-title">
            <div class="box-rack-child-items-item-title-info1">فروش</div>
            <div class="box-rack-child-items-item-title-info2">کلنگی</div>
            <div class="box-rack-child-items-item-title-icon"></div>
            <div class="box-rack-child-items-item-title-number">۳۰</div>
          </div>
          <div class="box-rack-child-items-item-icon"></div>
        </div>
        <div class="box-rack-child-items-item" [style.background]="row.iconColor">
          <div class="box-rack-child-items-item-title">
            <div class="box-rack-child-items-item-title-info1">فروش</div>
            <div class="box-rack-child-items-item-title-info2">کلنگی</div>
            <div class="box-rack-child-items-item-title-icon"></div>
            <div class="box-rack-child-items-item-title-number">۳۰</div>
          </div>
          <div class="box-rack-child-items-item-icon"></div>
        </div>
        <div class="box-rack-child-items-item" [style.background]="row.iconColor">
          <div class="box-rack-child-items-item-title">
            <div class="box-rack-child-items-item-title-info1">فروش</div>
            <div class="box-rack-child-items-item-title-info2">کلنگی</div>
            <div class="box-rack-child-items-item-title-icon"></div>
            <div class="box-rack-child-items-item-title-number">۳۰</div>
          </div>
          <div class="box-rack-child-items-item-icon"></div>
        </div>

      </div>
    </div>
  </div>
</div>