<div class="box-rack">
  <div class="box-rack-child">
    <div class="items">
      <div class="box-rack-child-title"></div>
      <div class="box-rack-child-item">
        <div class="box-rack-child-door"></div>
      </div>
    </div>
    <div class="items">
      <div class="box-rack-child-title"></div>
      <div class="box-rack-child-item">
        <div class="box-rack-child-door"></div>
      </div>
    </div>
    <div class="items">
      <div class="box-rack-child-title"></div>
      <div class="box-rack-child-item">
        <div class="box-rack-child-door"></div>
      </div>
    </div>
    <div class="items">
      <div class="box-rack-child-title"></div>
      <div class="box-rack-child-item">
        <div class="box-rack-child-door"></div>
      </div>
    </div>
    <div class="items">
      <div class="box-rack-child-title"></div>
      <div class="box-rack-child-item">
        <div class="box-rack-child-door"></div>
      </div>
    </div>
    <div class="items">
      <div class="box-rack-child-title"></div>
      <div class="box-rack-child-item">
        <div class="box-rack-child-door"></div>
      </div>
    </div>
    <div class="items">
      <div class="box-rack-child-title"></div>
      <div class="box-rack-child-item">
        <div class="box-rack-child-door"></div>
      </div>
    </div>
  </div>
</div>
<div class="bottom-bar">jsjsjsj</div>
