<div class="box-rack">
  <div class="box-rack-child" *ngFor="let row of dataModelResult.listItems">
    <div class="box-rack-child-title" [style.background]="row.iconColor">
      {{row.title}}
    </div>
    <!-- <div [class]="rackvalidation?'box-rack-child-items': 'box-rack-child-open'"(click)="rackvalidation?CloseItemsRack():OpenItemsRack()"> -->
    <div (click)="onActionClickRackDoor(row)">
      <div *ngIf="!row['rackOpen']||row['rackOpen']===false" class="box-rack-child-open">
        <div class="box-rack-child-open-title" [style.border-color]="row.iconColor"
          [style.outline-color]="row.iconColor">
          {{row.description}}
        </div>
        <img *ngIf="row?.linkMainImageIdSrc?.length>0" class="box-rack-child-open-img"
          [style.border-color]="row.iconColor" src="{{row.linkMainImageIdSrc | cmsthumbnail}}" alt="img">
        <div class="box-rack-child-open-icon"></div>
      </div>
      <div *ngIf="row['rackOpen']&&row['rackOpen']===true" class="box-rack-child-items">
        <div class="box-rack-child-items-item" [style.background]="row.iconColor"
          *ngFor="let  items of dataModelResult.listItems">
          <div class="box-rack-child-items-item-title">
            <div class="box-rack-child-items-item-title-info1"> {{row.title}}</div>
            <div class="box-rack-child-items-item-title-info2"> {{row.title}}</div>
            <div class="box-rack-child-items-item-title-icon"></div>
            <div class="box-rack-child-items-item-title-number"> {{row.title}}</div>
          </div>
          <div class="box-rack-child-items-item-icon"></div>
        </div>


        <div class="box-rack-child-items-item" [style.background]="row.iconColor">
          <div class="box-rack-child-items-item-add">
            <div class="box-rack-child-items-item-add-txt" (click)="onActionbuttonNewRow()">+</div>
          </div>
          <div class="box-rack-child-items-item-icon"></div>
        </div>

      </div>
    </div>
  </div>
</div>
