<ng-container *ngIf="tokenInfo && tokenInfo.userId>0">
  <div class="menu-item px-3">
    <div class="menu-content d-flex align-items-center px-3">
      <div class="symbol symbol-50px me-5">
        <img alt="Logo"
          [src]="((tokenInfo&&tokenInfo.linkMainImageIdSrc && tokenInfo.linkMainImageIdSrc.length>0) ? tokenInfo.linkMainImageIdSrc : './assets/media/avatars/300-1.jpg')" />
      </div>

      <div class="d-flex flex-column">
        <div class="fw-bolder d-flex align-items-center fs-5">
          {{ tokenInfo.name}} {{ tokenInfo.lastName }}
          <span class="badge badge-light-success fw-bolder fs-8 px-2 py-1 ms-2">{{ tokenInfo.userAccessUserTypeTitle
            }}</span>
        </div>
        <a class="fw-bold text-muted text-hover-primary fs-7 cursor-pointer">
          {{ tokenInfo.mobile }}
        </a>
      </div>
    </div>
  </div>

  <div class="separator my-2"></div>
  <!--
  <div class="menu-item px-5">
    <a routerLink="{{'/core/user/edit/' +this.tokenInfo.userId}}" class="menu-link px-5">
      {{'TITLE.User_Profile'| translate}}
    </a>
  </div> -->
  <div class="menu-item px-5" *ngIf="this.tokenHelper.isAdminSite">
    <a routerLink="{{'/core/user/edit/' +this.tokenInfo.userId}}" class="menu-link px-5 cursor-pointer"
      placement="top-start" ngbTooltip="User Info">
      <span class="menu-text">
        {{'TITLE.User_Profile'| translate}}</span>
      <span class="menu-badge" style="padding-right: 5px;padding-left: 13px;">
        <span class="badge badge-light-danger badge-circle fw-bolder fs-7">{{this.tokenInfo.userId}}</span>
      </span>
    </a>
  </div>
  <div class="menu-item px-5" *ngIf="this.tokenHelper.isAdminSite">
    <a routerLink="{{'/core/site/edit/' +this.tokenInfo.siteId}}" class="menu-link px-5 cursor-pointer"
      placement="top-start" ngbTooltip="{{'TITLE.Config_Site_And_Seo'|translate}}">
      <span class="menu-text">{{'TITLE.Config_Site'|translate}}</span>
      <span class="menu-badge" style="padding-right: 5px;padding-left: 13px;">
        <span class="badge badge-light-danger badge-circle fw-bolder fs-7">{{this.tokenInfo.siteId}}</span>
      </span>
    </a>
  </div>

  <div class="menu-item px-5">
    <a routerLink="core/site/selection" class="menu-link px-5 cursor-pointer" placement="top-start"
      ngbTooltip="Select site">{{'TITLE.Select_Site'|translate}}</a>
  </div>
  <div *ngIf="loadDemoTheme" class="menu-item px-5" data-kt-menu-trigger="hover" data-kt-menu-placement="left-start"
    data-kt-menu-flip="bottom">
    <a class="menu-link px-5 cursor-pointer">
      <span class="menu-title">My Subscription</span>
      <span class="menu-arrow"></span>
    </a>

    <div class="menu-sub menu-sub-dropdown w-175px py-4">
      <div class="menu-item px-3">
        <a class="menu-link px-5 cursor-pointer" placement="top-start" ngbTooltip="Coming soon">Referrals</a>
      </div>

      <div class="menu-item px-3">
        <a class="menu-link px-5 cursor-pointer" placement="top-start" ngbTooltip="Coming soon">Billing</a>
      </div>

      <div class="menu-item px-3">
        <a class="menu-link px-5 cursor-pointer" placement="top-start" ngbTooltip="Coming soon">Payments</a>
      </div>

      <div class="menu-item px-3">
        <a class="menu-link d-flex flex-stack px-5 cursor-pointer" placement="top-start" ngbTooltip="Coming soon">
          Statements
          <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="View your statements"></i>
        </a>
      </div>

      <div class="separator my-2"></div>

      <div class="menu-item px-3">
        <div class="menu-content px-3">
          <label class="form-check form-switch form-check-custom form-check-solid">
            <input class="form-check-input w-30px h-20px" type="checkbox" value="1" defaultChecked="{true}"
              name="notifications" />
            <span class="form-check-label text-muted fs-7">Notifications</span>
          </label>
        </div>
      </div>
    </div>
  </div>


  <div class="separator my-2"></div>

  <div class="menu-item px-5" data-kt-menu-trigger="hover" data-kt-menu-placement="left-start"
    data-kt-menu-flip="bottom">
    <a class="menu-link px-5 cursor-pointer">
      <span class="menu-title position-relative">
        {{'TITLE.Language'| translate}}
        <span class="
            fs-8
            rounded
            bg-light
            px-3
            py-2
            position-absolute
            translate-middle-y
            top-50
            end-0
          ">
          {{ language?.name }}{{ " " }}
          <img class="w-15px h-15px rounded-1 ms-2" [src]="language?.flag" alt="metronic" />
        </span>
      </span>
    </a>

    <div class="menu-sub menu-sub-dropdown w-175px py-4">
      <div *ngFor="let l of langs" class="menu-item px-3 cursor-pointer" (click)="selectLanguage(l.lang)">
        <a class="menu-link d-flex px-5" [ngClass]="l.lang === language?.lang ? 'active' : ''">
          <span class="symbol symbol-20px me-4">
            <img class="rounded-1" [src]="l.flag" alt="metronic" />
          </span>
          {{ l.name }}
        </a>
      </div>
    </div>
  </div>

  <span class="ml-3" *ngIf="loadingStatus">Loading ...</span>
  <div class="menu-item px-5">
    <a (click)="onActionbuttonUserAccessAdminAllowToAllData()"
      *ngIf="tokenInfo &&( tokenInfo.userAccessUserType === 1 || tokenInfo.userAccessUserType === 2 || tokenInfo.userAccessUserType === 3)"
      class="btn btn-raised mr-1 shadow-z-2 btn-success " style="width:95% ;margin: 4px;"
      [class.disabled]="disabledAllow">
      <i [className]="tokenInfo.userAccessAdminAllowToAllData ? 'fa fa-toggle-on' : 'fa fa-toggle-off'"></i>
      &nbsp;{{'TITLE.Show_all_information'| translate}}
    </a>
    <a (click)="onActionbuttonUserAccessAdminAllowToProfessionalData()"
      *ngIf="tokenInfo &&( tokenInfo.userAccessUserType === 1 || tokenInfo.userAccessUserType === 2 || tokenInfo.userAccessUserType === 3)"
      class="btn btn-raised mr-1 shadow-z-2 btn-success" style="width:95%;margin: 4px;"
      [class.disabled]="disabledAllow">
      <i [className]="tokenInfo.userAccessAdminAllowToProfessionalData ? 'fa fa-toggle-on' : 'fa fa-toggle-off'">
      </i>&nbsp;{{'TITLE.Display_specialized_information'| translate}}
    </a>
    <div class="input-group"
      *ngIf="tokenInfo &&( tokenInfo.userAccessUserType === 1 || tokenInfo.userAccessUserType === 2 || tokenInfo.userAccessUserType === 3)"
      style="direction: rtl;width:95%;margin: 4px;">
      <div class="input-group-prepend">
        <button (click)="onActionbuttonSelectUser()" class="btn btn-outline-primary"
          style="border: 1px solid var(--bs-gray-300);" type="button">{{'ACTION.GO'|
          translate}}</button>
      </div>
      <input [(ngModel)]="inputUserId" type="number" class="form-control" style="text-align: center;"
        placeholder="{{'TITLE.User_Id'| translate}}">
    </div>
    <div class="input-group"
      *ngIf="tokenInfo &&( tokenInfo.userAccessUserType === 1 || tokenInfo.userAccessUserType === 2 || tokenInfo.userAccessUserType === 3)"
      style="direction: rtl;width:95%;margin: 4px;">
      <div class="input-group-prepend">
        <button (click)="onActionbuttonSelectSite()" class="btn btn-outline-primary"
          style="border: 1px solid var(--bs-gray-300);" type="button">{{'ACTION.GO'|
          translate}}</button>
      </div>
      <input [(ngModel)]="inputSiteId" type="number" class="form-control" style="text-align: center;"
        placeholder="{{'TITLE.Site_Id'| translate}}">
    </div>
    <!-- LinkCmsSiteId Field -->
    <div class="menu-item px-5">
      <app-cms-site-selector (optionChange)="onActionSiteSelect($event)" [optionDisabled]="false"
        [optionSelectForce]="this.tokenInfo.siteId"
        [optionPlaceholder]="this.translate.instant('TITLE.WEBSITE')"></app-cms-site-selector>
    </div>
  </div>

  <div class="menu-item px-5">
    <a (click)="logout()" class="btn btn-raised mr-1 shadow-z-2 btn-success " style="width:95% ;margin: 4px;">
      {{'TITLE.Sign_Out'|translate}} </a>
  </div>
</ng-container>
