<div
  class="menu menu-lg-rounded menu-column menu-lg-row menu-state-bg menu-title-gray-600 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-{{this.tokenInfo.direction}}-gray-400 fw-bold fs-6 my-5 my-lg-0 align-items-stretch"
  id="#kt_header_menu" data-kt-menu="true">

  <!-- Dashboard -->
  <div class="menu-item me-lg-1">
    <a class="menu-link py-3" routerLinkActive="active" routerLink="/dashboard"><span class="menu-title"
        translate="MENU.DASHBOARD"></span></a>
  </div>


  <!-- Cms Menu -->
  <div *ngIf="dataModelResult.isSuccess&& dataModelResult.listItems && dataModelResult.listItems.length>0"
    class="menu-item menu-lg-down-accordion me-lg-1 menu-dropdown " data-kt-menu-trigger="click"
    [attr.data-kt-menu-placement]="this.tokenInfo.direction === 'rtl' ?'bottom-end':'bottom-start'">
    <span class="menu-link py-3" [ngClass]="calculateMenuItemCssClass('/crafted')">
      <span class="menu-title">{{'MENU.MENU'|translate}}</span>
      <span class="menu-arrow-{{this.tokenInfo.direction}} d-lg-none"></span>
    </span>
    <div class="
      menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0
      py-lg-4
      w-lg-225px
    " data-kt-menu-dismiss="true" data-popper-placement="bottom-start">
      <div *ngFor="let childLeve0 of dataModelResult.listItems" class="menu-item menu-lg-down-accordion me-lg-1 "
        data-kt-menu-trigger="{default:'click', lg: 'hover'}"
        [attr.data-kt-menu-placement]="this.tokenInfo.direction === 'rtl' ?'left-start':'right-start'">
        <!--No Child-->
        <span *ngIf="!childLeve0.children || childLeve0.children.length===0" class="menu-link py-3"
          [ngClass]="calculateMenuItemCssClass(childLeve0.routeAddressLink)">
          <span class="menu-icon">
            <a routerLink="{{childLeve0.routeAddressLink}}">
              <i class="{{childLeve0.icon}} " [style.color]="childLeve0.color?.length>0 ? childLeve0.color:''"></i>
            </a>
          </span>
          <span class="menu-title" routerLink="{{childLeve0.routeAddressLink}}">
            <a routerLink="{{childLeve0.routeAddressLink}}">
              {{childLeve0.titleML}}
            </a>
          </span>

        </span>
        <!--No Child-->
        <!--By Child-->
        <span *ngIf="childLeve0.children && childLeve0.children.length>0" class="menu-link py-3"
          [ngClass]="calculateMenuItemCssClass(childLeve0.routeAddressLink)"><span class="menu-icon"><i
              class="{{childLeve0.icon}}"
              [style.color]="childLeve0.color?.length>0 ? childLeve0.color:''"></i></span><span class="menu-title">
            {{childLeve0.titleML}}
          </span><span class="menu-arrow-{{this.tokenInfo.direction}}"></span></span>
        <!--By Child-->
        <!--Child-->
        <div *ngIf="childLeve0.children && childLeve0.children.length>0" class="
          menu-sub
          menu-sub-lg-down-accordion
          menu-sub-lg-dropdown
          menu-rounded-0
          py-lg-4
          w-lg-225px
        " data-kt-menu-dismiss="true">
          <div *ngFor="let childLeve1 of childLeve0.children" class="menu-item menu-lg-down-accordion me-lg-1 "
            data-kt-menu-trigger="{default:'click', lg: 'hover'}"
            [attr.data-kt-menu-placement]="this.tokenInfo.direction === 'rtl' ?'left-start':'right-start'">
            <!--No Child-->
            <span *ngIf="!childLeve1.children || childLeve1.children.length===0" class="menu-link py-3"
              [ngClass]="calculateMenuItemCssClass(childLeve1.routeAddressLink)">
              <span class="menu-bullet">
                <a routerLink="{{childLeve1.routeAddressLink}}"><span class="{{childLeve1.icon}}"
                    [style.color]="childLeve1.color?.length>0 ? childLeve1.color:''"></span>
                </a>
              </span><span class="menu-title" data-link="/crafted/pages/profile">
                <a routerLink="{{childLeve1.routeAddressLink}}">
                  {{childLeve1.titleML}}
                </a>
              </span>

            </span>
            <!--No Child-->
            <!--By Child-->
            <span *ngIf="childLeve1.children && childLeve1.children.length>0" class="menu-link py-3"
              [ngClass]="calculateMenuItemCssClass(childLeve1.routeAddressLink)"><span class="menu-bullet"><span
                  class="{{childLeve1.icon}}"
                  [style.color]="childLeve1.color?.length>0 ? childLeve1.color:''"></span></span><span
                class="menu-title" data-link="/crafted/pages/profile">{{childLeve1.titleML}}</span><span
                class="menu-arrow-{{this.tokenInfo.direction}}"></span></span>
            <!--By Child-->
            <!--Child-->
            <div *ngIf="childLeve1.children && childLeve1.children.length>0" class="
              menu-sub
              menu-sub-lg-down-accordion
              menu-sub-lg-dropdown
              menu-rounded-0
              py-lg-4
              w-lg-225px
            " data-kt-menu-dismiss="true">
              <div *ngFor="let childLeve2 of childLeve1.children" class="menu-item me-lg-1">
                <a class="menu-link py-3" routerLinkActive="active" routerLink="{{childLeve2.routeAddressLink}}"><span
                    class="menu-bullet"><span class="{{childLeve2.icon}}"
                      [style.color]="childLeve2.color?.length>0 ? childLeve2.color:''"></span></span><span
                    class="menu-title">{{childLeve2.titleML}}</span></a>
              </div>
            </div>
            <!--Child-->
          </div>

        </div>
        <!--Child-->
      </div>

    </div>
  </div>
  <!-- Layout Builder -->
  <div class="menu-item me-lg-1" *ngIf="tokenHelper.isAdminSite || tokenHelper.isSupportSite">
    <a class="menu-link py-3" routerLinkActive="active" routerLink="/builder"><span
        class="menu-title">Builder</span></a>
  </div>

  <!-- Crafted -->
  <div *ngIf="loadDemoTheme" class="menu-item menu-lg-down-accordion me-lg-1 menu-dropdown "
    data-kt-menu-trigger="click"
    [attr.data-kt-menu-placement]="this.tokenInfo.direction === 'rtl' ?'bottom-end':'bottom-start'">
    <span class="menu-link py-3" [ngClass]="calculateMenuItemCssClass('/crafted')">
      <span class="menu-title">Crafted</span>
      <span class="menu-arrow-{{this.tokenInfo.direction}} d-lg-none"></span>
    </span>
    <div class="
        menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0
        py-lg-4
        w-lg-225px
      " data-kt-menu-dismiss="true" data-popper-placement="bottom-start">
      <div class="menu-item menu-lg-down-accordion me-lg-1 " data-kt-menu-trigger="{default:'click', lg: 'hover'}"
        [attr.data-kt-menu-placement]="this.tokenInfo.direction === 'rtl' ?'left-start':'right-start'">
        <span class="menu-link py-3" [ngClass]="calculateMenuItemCssClass('/crafted/pages')"><span class="menu-icon"><i
              class="bi fs-3 bi-archive"></i></span><span class="menu-title">Pages</span><span
            class="menu-arrow-{{this.tokenInfo.direction}}"></span></span>
        <div class="
            menu-sub
            menu-sub-lg-down-accordion
            menu-sub-lg-dropdown
            menu-rounded-0
            py-lg-4
            w-lg-225px
          " data-kt-menu-dismiss="true">
          <div class="menu-item menu-lg-down-accordion me-lg-1 " data-kt-menu-trigger="{default:'click', lg: 'hover'}"
            [attr.data-kt-menu-placement]="this.tokenInfo.direction === 'rtl' ?'left-start':'right-start'">
            <span class="menu-link py-3" [ngClass]="calculateMenuItemCssClass('/crafted/pages/profile')"><span
                class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title"
                data-link="/crafted/pages/profile">Profile</span><span
                class="menu-arrow-{{this.tokenInfo.direction}}"></span></span>
            <div class="
                menu-sub
                menu-sub-lg-down-accordion
                menu-sub-lg-dropdown
                menu-rounded-0
                py-lg-4
                w-lg-225px
              " data-kt-menu-dismiss="true">
              <div class="menu-item me-lg-1">
                <a class="menu-link py-3" routerLinkActive="active" routerLink="/crafted/pages/profile/overview"><span
                    class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
                    class="menu-title">Overview</span></a>
              </div>
              <div class="menu-item me-lg-1">
                <a class="menu-link py-3" routerLinkActive="active" routerLink="/crafted/pages/profile/projects"><span
                    class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
                    class="menu-title">Projects</span></a>
              </div>

              <div class="menu-item me-lg-1">
                <a class="menu-link py-3" routerLinkActive="active" routerLink="/crafted/pages/profile/campaigns"><span
                    class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
                    class="menu-title">Campaigns</span></a>
              </div>

              <div class="menu-item me-lg-1">
                <a class="menu-link py-3" routerLinkActive="active" routerLink="/crafted/pages/profile/documents"><span
                    class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
                    class="menu-title">Documents</span></a>
              </div>

              <div class="menu-item me-lg-1">
                <a class="menu-link py-3" routerLinkActive="active"
                  routerLink="/crafted/pages/profile/connections"><span class="menu-bullet"><span
                      class="bullet bullet-dot"></span></span><span class="menu-title">Connections</span></a>
              </div>
            </div>
          </div>
          <div class="menu-item menu-lg-down-accordion me-lg-1 " data-kt-menu-trigger="{default:'click', lg: 'hover'}"
            [attr.data-kt-menu-placement]="this.tokenInfo.direction === 'rtl' ?'left-start':'right-start'">
            <span class="menu-link py-3" [ngClass]="calculateMenuItemCssClass('/crafted/pages/wizards')"><span
                class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title"
                data-link="/crafted/pages/wizards">Wizards</span><span
                class="menu-arrow-{{this.tokenInfo.direction}}"></span></span>
            <div class="
                menu-sub
                menu-sub-lg-down-accordion
                menu-sub-lg-dropdown
                menu-rounded-0
                py-lg-4
                w-lg-225px
              " data-kt-menu-dismiss="true">
              <div class="menu-item me-lg-1">
                <a class="menu-link py-3" routerLinkActive="active" routerLink="/crafted/pages/wizards/horizontal"><span
                    class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
                    class="menu-title">Horizontal</span></a>
              </div>
              <div class="menu-item me-lg-1">
                <a class="menu-link py-3" routerLinkActive="active" routerLink="/crafted/pages/wizards/vertical"><span
                    class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
                    class="menu-title">Vertical</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="menu-item menu-lg-down-accordion me-lg-1 " data-kt-menu-trigger="{default:'click', lg: 'hover'}"
        [attr.data-kt-menu-placement]="this.tokenInfo.direction === 'rtl' ?'left-start':'right-start'">
        <span class="menu-link py-3" [ngClass]="calculateMenuItemCssClass('/crafted/account')"><span
            class="menu-icon"><i class="bi fs-3 bi-person"></i></span><span class="menu-title"
            data-link="/crafted/account">Accounts</span><span
            class="menu-arrow-{{this.tokenInfo.direction}}"></span></span>
        <div class="
            menu-sub
            menu-sub-lg-down-accordion
            menu-sub-lg-dropdown
            menu-rounded-0
            py-lg-4
            w-lg-225px
          " data-kt-menu-dismiss="true">
          <div class="menu-item me-lg-1">
            <a class="menu-link py-3" routerLinkActive="active" routerLink="/crafted/account/overview"><span
                class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
                class="menu-title">Overview</span></a>
          </div>
          <div class="menu-item me-lg-1">
            <a class="menu-link py-3" routerLinkActive="active" routerLink="/crafted/account/settings"><span
                class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
                class="menu-title">Settings</span></a>
          </div>
        </div>
      </div>
      <div class="menu-item menu-lg-down-accordion me-lg-1 " data-kt-menu-trigger="{default:'click', lg: 'hover'}"
        [attr.data-kt-menu-placement]="this.tokenInfo.direction === 'rtl' ?'left-start':'right-start'">
        <span class="menu-link py-3" [ngClass]="calculateMenuItemCssClass('/error')"><span class="menu-icon"><i
              class="bi fs-3 bi-sticky"></i></span><span class="menu-title" data-link="/error">Errors</span><span
            class="menu-arrow-{{this.tokenInfo.direction}}"></span></span>
        <div class="
            menu-sub
            menu-sub-lg-down-accordion
            menu-sub-lg-dropdown
            menu-rounded-0
            py-lg-4
            w-lg-225px
          " data-kt-menu-dismiss="true">
          <div class="menu-item me-lg-1">
            <a class="menu-link py-3" routerLinkActive="active" routerLink="/error/404"><span class="menu-bullet"><span
                  class="bullet bullet-dot"></span></span><span class="menu-title">Error 404</span></a>
          </div>
          <div class="menu-item me-lg-1">
            <a class="menu-link py-3" routerLinkActive="active" routerLink="/error/500"><span class="menu-bullet"><span
                  class="bullet bullet-dot"></span></span><span class="menu-title">Error 500</span></a>
          </div>
        </div>
      </div>
      <div class="menu-item menu-lg-down-accordion me-lg-1 " data-kt-menu-trigger="{default:'click', lg: 'hover'}"
        [attr.data-kt-menu-placement]="this.tokenInfo.direction === 'rtl' ?'left-start':'right-start'">
        <span class="menu-link py-3" [ngClass]="calculateMenuItemCssClass('/crafted/widgets')"><span
            class="menu-icon"><i class="bi fs-3 bi-layers"></i></span><span class="menu-title"
            data-link="/crafted/widgets">Widgets</span><span
            class="menu-arrow-{{this.tokenInfo.direction}}"></span></span>
        <div class="
            menu-sub
            menu-sub-lg-down-accordion
            menu-sub-lg-dropdown
            menu-rounded-0
            py-lg-4
            w-lg-225px
          " data-kt-menu-dismiss="true">
          <div class="menu-item me-lg-1">
            <a class="menu-link py-3" routerLinkActive="active" routerLink="/crafted/widgets/lists"><span
                class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
                class="menu-title">Lists</span></a>
          </div>
          <div class="menu-item me-lg-1">
            <a class="menu-link py-3" routerLinkActive="active" routerLink="/crafted/widgets/statistics"><span
                class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
                class="menu-title">Statistics</span></a>
          </div>
          <div class="menu-item me-lg-1">
            <a class="menu-link py-3" routerLinkActive="active" routerLink="/crafted/widgets/charts"><span
                class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
                class="menu-title">Charts</span></a>
          </div>
          <div class="menu-item me-lg-1">
            <a class="menu-link py-3" routerLinkActive="active" routerLink="/crafted/widgets/mixed"><span
                class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
                class="menu-title">Mixed</span></a>
          </div>
          <div class="menu-item me-lg-1">
            <a class="menu-link py-3" routerLinkActive="active" routerLink="/crafted/widgets/tables"><span
                class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
                class="menu-title">Tables</span></a>
          </div>
          <div class="menu-item me-lg-1">
            <a class="menu-link py-3" routerLinkActive="active" routerLink="/crafted/widgets/feeds"><span
                class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
                class="menu-title">Feeds</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- MegaMenu -->
  <div *ngIf="loadDemoTheme" class="menu-item menu-lg-down-accordion me-lg-1 " data-kt-menu-trigger="click"
    [attr.data-kt-menu-placement]="this.tokenInfo.direction === 'rtl' ?'bottom-end':'bottom-start'">
    <span class="menu-link py-3">
      <span class="menu-title">Mega menu</span>
      <span class="menu-arrow-{{this.tokenInfo.direction}} d-lg-none"></span>
    </span>
    <div class="
      menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown
      w-100 w-lg-600px
      p-5 p-lg-5
    " data-kt-menu-dismiss="true">
      <div class="row" data-kt-menu-dismiss="true">
        <div class="col-lg-4 border-left-lg-1">
          <div class="menu-inline menu-column menu-active-bg">
            <div class="menu-item">
              <a class="menu-link cursor-pointer"><span class="menu-bullet"><span
                    class="bullet bullet-dot"></span></span><span class="menu-title">Example link</span></a>
            </div>
            <div class="menu-item">
              <a class="menu-link cursor-pointer"><span class="menu-bullet"><span
                    class="bullet bullet-dot"></span></span><span class="menu-title">Example link</span></a>
            </div>
            <div class="menu-item">
              <a class="menu-link cursor-pointer"><span class="menu-bullet"><span
                    class="bullet bullet-dot"></span></span><span class="menu-title">Example link</span></a>
            </div>
            <div class="menu-item">
              <a class="menu-link cursor-pointer"><span class="menu-bullet"><span
                    class="bullet bullet-dot"></span></span><span class="menu-title">Example link</span></a>
            </div>
            <div class="menu-item">
              <a class="menu-link cursor-pointer"><span class="menu-bullet"><span
                    class="bullet bullet-dot"></span></span><span class="menu-title">Example link</span></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 border-left-lg-1">
          <div class="menu-inline menu-column menu-active-bg">
            <div class="menu-item">
              <a class="menu-link cursor-pointer"><span class="menu-bullet"><span
                    class="bullet bullet-dot"></span></span><span class="menu-title">Example link</span></a>
            </div>
            <div class="menu-item">
              <a class="menu-link cursor-pointer"><span class="menu-bullet"><span
                    class="bullet bullet-dot"></span></span><span class="menu-title">Example link</span></a>
            </div>
            <div class="menu-item">
              <a class="menu-link cursor-pointer"><span class="menu-bullet"><span
                    class="bullet bullet-dot"></span></span><span class="menu-title">Example link</span></a>
            </div>
            <div class="menu-item">
              <a class="menu-link cursor-pointer"><span class="menu-bullet"><span
                    class="bullet bullet-dot"></span></span><span class="menu-title">Example link</span></a>
            </div>
            <div class="menu-item">
              <a class="menu-link cursor-pointer"><span class="menu-bullet"><span
                    class="bullet bullet-dot"></span></span><span class="menu-title">Example link</span></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 border-left-lg-1">
          <div class="menu-inline menu-column menu-active-bg">
            <div class="menu-item">
              <a class="menu-link cursor-pointer"><span class="menu-bullet"><span
                    class="bullet bullet-dot"></span></span><span class="menu-title">Example link</span></a>
            </div>
            <div class="menu-item">
              <a class="menu-link cursor-pointer"><span class="menu-bullet"><span
                    class="bullet bullet-dot"></span></span><span class="menu-title">Example link</span></a>
            </div>
            <div class="menu-item">
              <a class="menu-link cursor-pointer"><span class="menu-bullet"><span
                    class="bullet bullet-dot"></span></span><span class="menu-title">Example link</span></a>
            </div>
            <div class="menu-item">
              <a class="menu-link cursor-pointer"><span class="menu-bullet"><span
                    class="bullet bullet-dot"></span></span><span class="menu-title">Example link</span></a>
            </div>
            <div class="menu-item">
              <a class="menu-link cursor-pointer"><span class="menu-bullet"><span
                    class="bullet bullet-dot"></span></span><span class="menu-title">Example link</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>