<div class="d-flex flex-column flex-center bgi-no-repeat rounded-top px-9 py-10"
  [style.background-image]="'url(./assets/media/misc/pattern-1.jpg)'">
  <h3 class="text-white fw-bold mb-3">{{'TITLE.Quick_Actions'| translate}}</h3>
  <span *ngIf="loadDemoDashboard"  class="badge bg-primary py-2 px-3">25 pending tasks</span>
</div>

<div class="row g-0">
  <!--Item-->
  <div class="col-6">
    <a src="/ticketing/faq" class="
        d-flex
        flex-column flex-center
        h-100
        p-6
        bg-hover-light
        border-end border-bottom
        cursor-pointer
      ">
      <span [inlineSVG]="'./assets/media/icons/duotune/finance/fin009.svg'"
        class="svg-icon svg-icon-3x svg-icon-primary mb-2"></span>
      <span class="fs-5 fw-bold text-gray-800 mb-0">{{'TITLE.FAQ'|translate}}</span>
      <span class="fs-7 text-gray-400">{{'TITLE.HELP'|translate}}</span>
    </a>
  </div>
  <!--Item-->
  <!--Item-->
  <div class="col-6">
    <a src="/ticketing/contactus" class="
        d-flex
        flex-column flex-center
        h-100
        p-6
        bg-hover-light
        border-bottom
        cursor-pointer
      ">
      <span [inlineSVG]="'./assets/media/icons/duotune/communication/com010.svg'"
        class="svg-icon svg-icon-3x svg-icon-primary mb-2"></span>
      <span class="fs-5 fw-bold text-gray-800 mb-0">{{'TITLE.Contactus'|translate}}</span>
      <span class="fs-7 text-gray-400">{{'TITLE.Send_Message_To_Admin'|translate}}</span>
    </a>
  </div>
  <!--Item-->
  <!--Item-->
  <div *ngIf="this.tokenInfo?.siteId>0 && this.tokenHelper.isAdminSite" class="col-6">
    <a src="core/site/edit" class="
        d-flex
        flex-column flex-center
        h-100
        p-6
        bg-hover-light
        border-end
        cursor-pointer
      ">
      <span [inlineSVG]="'./assets/media/icons/duotune/abstract/abs042.svg'"
        class="svg-icon svg-icon-3x svg-icon-primary mb-2"></span>
      <span class="fs-5 fw-bold text-gray-800 mb-0">{{'TITLE.Config_Site'|translate}}</span>
      <span class="fs-7 text-gray-400">{{'TITLE.Config_Site_And_Seo'|translate}}</span>
    </a>
  </div>
  <!--Item-->
  <!--Item-->
  <div *ngIf="this.tokenInfo?.siteId>0 && this.tokenHelper.isAdminSite" class="col-6">
    <a src="core/site/modulelist" class="
        d-flex
        flex-column flex-center
        h-100
        p-6
        bg-hover-light
        cursor-pointer
      ">
      <span [inlineSVG]="'./assets/media/icons/duotune/finance/fin006.svg'"
        class="svg-icon svg-icon-3x svg-icon-primary mb-2"></span>
      <span class="fs-5 fw-bold text-gray-800 mb-0">{{'TITLE.Config_Modules'|translate}}</span>
      <span class="fs-7 text-gray-400">{{'TITLE.Config_Modules_And_Renew'|translate}}</span>
    </a>
  </div>
  <!--Item-->
  <!--Item-->
  <div *ngIf="this.tokenInfo?.siteId>0" class="col-6">
    <a src="core/site/selection" class="
        d-flex
        flex-column flex-center
        h-100
        p-6
        bg-hover-light
        cursor-pointer
      ">
      <span [inlineSVG]="'./assets/media/icons/duotune/finance/fin006.svg'"
        class="svg-icon svg-icon-3x svg-icon-primary mb-2"></span>
      <span class="fs-5 fw-bold text-gray-800 mb-0">{{'TITLE.Select_Site'|translate}}</span>
      <span class="fs-7 text-gray-400">{{'TITLE.Select_Site_Panle'|translate}}</span>
    </a>
  </div>
  <!--Item-->
  <!--Item-->
  <div *ngIf="this.tokenInfo?.siteId>0" class="col-6">
    <a src="core/site/info" class="
        d-flex
        flex-column flex-center
        h-100
        p-6
        bg-hover-light
        cursor-pointer
      ">
      <span [inlineSVG]="'./assets/media/icons/duotune/social/soc001.svg'"
        class="svg-icon svg-icon-3x svg-icon-primary mb-2"></span>
      <span class="fs-5 fw-bold text-gray-800 mb-0">{{'TITLE.Share_Data'|translate}}</span>
      <span class="fs-7 text-gray-400">{{'TITLE.Share_Data_Link'|translate}}</span>
    </a>
  </div>
  <!--Item-->
</div>

<div class="py-2 text-center border-top">
  <a *ngIf="loadDemoDashboard" routerLink="/crafted/pages/profile"
    class="btn btn-color-gray-600 btn-active-color-primary">
    View All
    <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr064.svg'" class="svg-icon svg-icon-5"></span>
  </a>
</div>
