.box{
    background-image: url('/assets/media/illustrations/dozzy-1/1-dark.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-color: white;
    box-shadow: 0px 0px 100px 20px black;
    width: 80%;
    height: 80%;
    margin: auto;
    border-radius: 10px;
    margin-top: 100px;
}
.form-container{
    padding:16px;
}
.form-container-input{
    padding: 15px;
    border-radius: 8px;
    display: block;
    outline: none;
    border: none;
}
.form-container-input:focus{
    outline: none;
    border: none;
}
.form-container-btn{
    display: block;
}