.cms-m-body {
    height: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cms-m-container {
    background-image: url('/assets/media/bg/citywallpaper.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 10px 0px #212121;
    width: 90%;
    height: 100%;
    border-radius: 10px;
    position: relative;
}

.cms-m-filter {
    height: 100%;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.13);
    border: 2px solid rgba(255, 255, 255, 0.13);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    position: absolute;
    padding: 10px;
    margin-right: 5%;
    margin-left: 5%;
}

.cms-m-container-header {
    width: 100%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
}

.cms-m-container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    width: 100%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
}

.cms-m-button {
    width: 100%;
    height: 50px;
    padding: 5px;
    border-radius: 25px;
}

.cms-m-form-label {
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

.cms-m-form-input {
    width: 100%;
    height: 50px;
    border-radius: 16px;
    display: block;
    outline: none;
    color: white;
    background-color: rgba(255, 255, 255, 0.07);
    border: 2px solid #BDC3C7;
    text-align: center;
    font-size: 20px;
    direction: ltr;
}

.option {
    width: 100%;
    height: 50px;
    margin-top: 30px;
    border-radius: 10px;
    display: block;
    outline: none;
    border: 2px solid #BDC3C7;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.result {
    background-color: rgba(255, 255, 255, 0.6);
    width: 98%;
    height: 78%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 1%;
    overflow-y: scroll;
}

.overflow-y {
    overflow-y: scroll;
}

.background-white {
    color: black !important;
    background-color: rgba(255, 255, 255, 0.7) !important;
}

.background-blue {
    color: white !important;
    background-color: rgba(0, 0, 255, 0.7) !important;
}

button {
    border: none;
}

svg {
    width: 20px;
    height: 20px;
}

input:focus {
    outline: none;
}

span {
    margin-left: 2.5px;
    margin-right: 2.5px;
}

table {
    color: black;
    width: 100%;
    font-size: 15px;
    margin-bottom: 20px;
    border: 1px solid black;
}

th,
td {
    border: 1px solid black;
}