.box{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
}
.container-first{
    background-image: url('https://wallpaperset.com/w/full/1/5/1/64893.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-color: white;
    box-shadow: 0px 0px 10px 0px #212121;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
}
.form-container{
    padding:16px;
    position: absolute;
    color: #fff;
    width: 80%;
    height: 100%;
    background-color: rgba(255,255,255,0.13);
    border: 2px solid rgba(255, 255, 255, 0.13);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    margin-right: 7%;
}
.form-wrapper{
    margin-top: 8%;
}
.mobile-title{
    font-size: 14px;
    margin-bottom: 30px;
}
.form-input-container{
    margin-bottom: 26px;
}
.mobile-lable{
    font-size: 16px;
}
.mobile-input{
    padding: 15px;
    border-radius: 16px;
    display: block;
    outline: none;
    color: #fff;
    background-color:rgba(255,255,255,0.07);
    border:2px solid #BDC3C7 ;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    margin-top: 16px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.mobile-input:focus{
    outline: none;
}
.mobile-buttonnext{
    display: block;
    margin-top:65px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border: none;
    padding: 15px 0;
    width: 100%;
    border-radius: 25px;
}
.btn-txticon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.step-arrow{
    width: 20px;
    height: 20px;
}