.box{
    background-image: url('https://wallpaperset.com/w/full/1/5/1/64893.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    box-shadow: 0px 0px 100px 20px black;
    width: 80%;
    height: 80%;
    margin: auto;
    border-radius: 10px;
    margin-top: 100px;
}