.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 20px;
}

.mobile,
.ordertype,
.selecttypelanduse,
.selecttypeproperty,
.selectyear,
.result1,
.selectlocation,
.result2,
.selectprice,
.result3 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #fff;
    box-shadow: 0 0 10px 0px #212121;
    width: 90%;
    height: 100%;
    border-radius: 10px;
    position: relative;
}

.mobile {
    background-image: url('/assets/media/bg/skyscraper1.webp');
}

.ordertype {
    background-image: url('/assets/media/bg/skyscraper2.webp');
}

.selecttypelanduse {
    background-image: url('/assets/media/bg/skyscraper3.webp');
}

.selecttypeproperty {
    background-image: url('/assets/media/bg/skyscraper4.webp');
}

.selectyear {
    background-image: url('/assets/media/bg/skyscraper5.webp');
}

.result1 {
    background-image: url('/assets/media/bg/skyscraper6.webp');
}

.selectlocation {
    background-image: url('/assets/media/bg/skyscraper7.webp');
}

.result2 {
    background-image: url('/assets/media/bg/skyscraper8.webp');
}

.selectprice {
    background-image: url('/assets/media/bg/skyscraper9.webp');
}

.result3 {
    background-image: url('/assets/media/bg/skyscraper10.webp');
}

.mobile-filter,
.ordertype-filter,
.selecttypelanduse-filter,
.selecttypeproperty-filter,
.selectyear-filter,
.result1-filter,
.selectlocation-filter,
.result2-filter,
.selectprice-filter,
.result3-filter {
    height: 100%;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.13);
    border: 2px solid rgba(255, 255, 255, 0.13);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    position: absolute;
    padding: 3px 13px;
    margin-right: 5%;
    margin-left: 5%;
}

.mobile-header,
.ordertype-header,
.selecttypelanduse-header,
.selecttypeproperty-header,
.selectyear-header,
.result1-header,
.selectlocation-header,
.result2-header,
.selectprice-header,
.result3-header {
    margin-bottom: 26px;
}

.mobile-footer,
.ordertype-footer,
.selecttypelanduse-footer,
.selecttypeproperty-footer,
.selectyear-footer,
.result1-footer,
.selectlocation-footer,
.result2-footer,
.selectprice-footer,
.result3-footer {
    width: 100%;
    margin-top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ordertype-footer-buttonnext,
.selecttypelanduse-footer-buttonnext,
.selecttypelanduse-bofooterx-buttonnext,
.selecttypeproperty-footer-buttonnext,
.selectyear-footer-buttonnext,
.selectlocation-footer-buttonnext,
.selectprice-footer-buttonnext {
    width: 45%;
    padding: 15px 0;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.ordertype-footer-buttonbefor,
.selecttypelanduse-footer-buttonbefor,
.selecttypeproperty-footer-buttonbefor,
.selectyear-footer-buttonbefor,
.selectlocation-footer-buttonbefor,
.selectprice-footer-buttonbefor {
    width: 45%;
    padding: 15px 0;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.mobile-footer-buttonnext {
    width: 100%;
    padding: 15px 0;
    border-radius: 25px;
    margin-top: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.result1-footer-buttonnext,
.result1-footer-buttonbefor,
.result1-footer-submit,
.result2-footer-buttonnext,
.result2-footer-buttonbefor,
.result2-footer-submit,
.result3-footer-submit,
.result3-footer-buttonbefor
 {
    width: 30%;
    height: 40%;
    margin-left: 1.6%;
    margin-right: 1.6%;
    border-radius: 10px;
    padding: 15px 0;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

// class-style

//mobile,ordertype,selecttypelanduse,selecttypeproperty
.mobile-header-title,
.ordertype-header-title,
.selecttypelanduse-header-title,
.selecttypeproperty-header-title,
.result1-header-title,
.result1-header-result,
.selectlocation-header-title,
.result2-header-title,
.result2-header-result,
.selectprice-header-title,
.result3-header-title,
.result3-header-result
 {
    color: white;
    font-size: 14px;
    margin-top: 30px;
}

.mobile-header-form,
.selectlocation-header-form,
.selectprice-header-form
 {
    margin-top: 26px;
}

.mobile-header-form-label,
.selectyear-header-label1,
.selectyear-header-label2,
.selectlocation-header-label1,
.selectprice-header-label1,
.selectprice-header-label2
 {
    color: white;
    font-size: 16px;
}

.mobile-header-form-input,
.selectyear-header-input1,
.selectyear-header-input2,
.selectlocation-header-input1,
.selectprice-header-input1,
.selectprice-header-input2
 {
    width: 100%;
    height: 50px;
    margin-top: 16px;
    border-radius: 16px;
    display: block;
    outline: none;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.07);
    border: 2px solid #BDC3C7;
    text-align: center;
    padding: 0 10px;
    font-size: 20px;
    font-weight: 400;
}

.ordertype-header-form,
.selecttypelanduse-header-form,
.selecttypeproperty-header-form
 {
    margin-top: 50px;
}

.ordertype-header-form-option1,
.ordertype-header-form-option2,
.selecttypeproperty-header-option1,
.selecttypeproperty-header-option2
 {
    width: 90%;
    height: 50px;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    border: 2px solid #BDC3C7;

}

.selecttypelanduse-header-form-option1,
.selecttypelanduse-header-form-option2,
.selecttypelanduse-header-form-option3 {
    width: 90%;
    height: 50px;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    border: 2px solid #BDC3C7;

}

//selectyear,selectprice

.selectyear-header{
    margin-top: 15%;
}
.selectyear-header-label2,
.selectprice-header-label2
{
    margin-top: 5%;
}

// ****************************************************************************

// tag-style

button {
    border: none;
}

svg {
    width: 20px;
    height: 20px;
}

button:hover {
    background-color: orange;
    color: white;
}

input:focus {
    outline: none;
}