/* You can add global styles to this file, and also import other style files */
@import "./assets/sass/style.scss";
@import './assets/sass/plugins.scss';
@import "./assets/sass/style.angular.scss";
// => Material



// Global fonts
@import 'font-awesome/scss/font-awesome.scss';
@import "socicon/css/socicon.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import url("./assets/fonts/fontiran.css");
/*
 karavi import
*/

@import "leaflet/dist/leaflet.css";
@import "ngx-ntk-smart-module/loader";
@import "ngx-ntk-smart-module/modal";
@import "ntk-cms-filemanager/filemanager";
// boostrap 5
@import 'ngx-toastr/toastr-bs5-alert';

/*
 karavi import
*/
.bottom-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*
color
*/
.color-green {
  color: green !important;
}

.color-red {
  color: red !important;
}

.color-black {
  color: black !important;
}

.color-white {
  color: white !important;
}

/*
color
*/
/*
karavi tooltip guid
*/
.cms-RecordStatusEnum-cell-1 {
  background-color: white !important;
  font-weight: bold !important;
  color: green !important;
}

.cms-RecordStatusEnum-cell-2 {
  background-color: rgb(161, 161, 161) !important;
  font-weight: bold !important;
  color: black !important;
}

.cms-RecordStatusEnum-cell-3 {
  background-color: rgb(124, 0, 21) !important;
  font-weight: bold !important;
  color: white !important;
}

.cms-RecordStatusEnum-cell-4 {
  background-color: greenyellow !important;
  font-weight: bold !important;
  color: #000 !important;
}

.cms-RecordStatusEnum-cell-5 {
  background-color: rgb(113, 196, 124) !important;
  font-weight: bold !important;
  color: #000 !important;
}

.cms-RecordStatusEnum-cell-6 {
  background-color: rgb(172, 194, 255) !important;
  font-weight: bold !important;
  color: #000 !important;
}

.cms-RecordStatusEnum-selector-1 {
  background-color: white !important;
  font-weight: bold !important;
  color: #000 !important;
}

.cms-RecordStatusEnum-selector-2 {
  background-color: rgb(161, 161, 161) !important;
  font-weight: bold !important;
  color: black !important;
}

.cms-RecordStatusEnum-selector-3 {
  background-color: rgb(124, 0, 21) !important;
  font-weight: bold !important;
  color: white !important;
}

.cms-RecordStatusEnum-selector-4 {
  background-color: greenyellow !important;
  font-weight: bold !important;
  color: #000 !important;
}

.cms-RecordStatusEnum-selector-5 {
  background-color: rgb(113, 196, 124) !important;
  font-weight: bold !important;
  color: #000 !important;
}

.cms-RecordStatusEnum-selector-6 {
  background-color: rgb(172, 194, 255) !important;
  font-weight: bold !important;
  color: #000 !important;
}

.dialog-fullscreen {
  max-width: 100% !important;
  max-height: 100% !important;
  width: 100%;
  height: 100%;
}

.dialog-wide {
  max-width: 100% !important;
  max-height: 100% !important;
  width: 90%;
}

.dialog-min {
  max-width: 100% !important;
  max-height: 100% !important;
  width: 50%;
}

.score-0 {
  background-color: rgb(210, 250, 253) !important;
}

.score-1 {
  background-color: rgb(190, 230, 253) !important;
}

.score-2 {
  background-color: rgb(170, 210, 253) !important;
}

.score-3 {
  background-color: rgb(150, 190, 253) !important;
}

.score-4 {
  background-color: rgb(130, 170, 253) !important;
}

.score-5 {
  background-color: rgb(110, 150, 253) !important;
}

.score-6 {
  background-color: rgb(90, 130, 253) !important;
}

.score-7 {
  background-color: rgb(70, 120, 253) !important;
}

.score-8 {
  background-color: rgb(50, 110, 253) !important;
}

.score-9 {
  background-color: rgb(30, 90, 253) !important;
}

.score-10 {
  background-color: rgb(0, 70, 253) !important;
}


.tooltip-example {
  text-align: center;
  padding: 0 50px;
}

.tooltip-example [cmsTooltip] {
  display: inline-block;
  margin: 50px 20px;
  width: 180px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 5px;
  line-height: 50px;
  text-align: center;
}

.ng-tooltip {
  position: absolute;
  max-width: 150px;
  font-size: 14px;
  text-align: center;
  color: #f8f8f2;
  padding: 3px 8px;
  background: #282a36;
  border-radius: 4px;
  z-index: 1060;
  opacity: 0;
}

.ng-tooltip:after {
  content: "";
  position: absolute;
  border-style: solid;
}

.ng-tooltip-top:after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-color: black transparent transparent transparent;
}

.ng-tooltip-bottom:after {
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-color: transparent transparent black transparent;
}

.ng-tooltip-left:after {
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-color: transparent transparent transparent black;
}

.ng-tooltip-right:after {
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-color: transparent black transparent transparent;
}

.ng-tooltip-show {
  opacity: 1;
}

.input-ltr-center {
  direction: ltr !important;
  text-align: center !important;
}

.input-ltr {
  direction: ltr !important;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 100px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 110%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*
 NTK optimaze
*/
.mdc-text-field {
  padding: 0px !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}

.mat-mdc-input-element {
  //background-color: red!important;
  //narimani// padding-top: 10px !important;
  //narimani//padding-bottom: 10px !important;
}

.ntk-full-width {
  width: 95%;
}

.ntk-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.ntk-button-row {
  margin-top: 5px;
  margin-bottom: 5px;
  margin: auto;
  width: 100%;
  height: auto;
  border: 1px;
  padding: 10px;
  padding-right: 8px;
  border-radius: 5px;
  color: var(--#{$prefix}primary);
  background-color: var(--#{$prefix}body-bg);
  /*box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);*/
  box-shadow: 0 5px 5px -3px color(0 0 0 0.2), 0 8px 10px 1px color(0 0 0 0.14),
    0 3px 14px 2px color(0 0 0 0.12);
}

.ntk-button-row button {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.ntk-cms-html-tree-header {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  height: auto;
  border: 1px;
  padding: 1px;
  padding-right: 8px;
  border-radius: 5px;
  color: var(--#{$prefix}primary);
  background-color: var(--#{$prefix}body-bg);
  /*box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);*/
  box-shadow: 0 5px 5px -3px color(0 0 0 0.2), 0 8px 10px 1px color(0 0 0 0.14),
    0 3px 14px 2px color(0 0 0 0.12);
}

.ntk-cms-html-tree-header button {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 1px;
  margin-left: 1px;
}

.ntk-cms-html-tree-body {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  height: auto;
  border: 1px;
  padding: 1px;
  padding-right: 8px;
  border-radius: 5px;
  color: var(--#{$prefix}primary);
  background-color: var(--#{$prefix}body-bg);
  /*box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);*/
  box-shadow: 0 5px 5px -3px color(0 0 0 0.2), 0 8px 10px 1px color(0 0 0 0.14), 0 3px 14px 2px color(0 0 0 0.12);
}

.ntk-cms-html-tree-footer {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  height: auto;
  border: 1px;
  padding: 1px;
  padding-right: 8px;
  border-radius: 5px;
  color: var(--#{$prefix}primary);
  background-color: var(--#{$prefix}body-bg);
  /*box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);*/
  box-shadow: 0 5px 5px -3px color(0 0 0 0.2), 0 8px 10px 1px color(0 0 0 0.14), 0 3px 14px 2px color(0 0 0 0.12);
}

.ntk-cms-html-table {
  color: var(--#{$prefix}primary);
  background-color: var(--#{$prefix}body-bg);
}

.ntk-cms-html-list-header {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  height: auto;
  border: 1px;
  padding: 1px;
  padding-right: 8px;
  border-radius: 5px;
  color: var(--#{$prefix}primary);
  background-color: var(--#{$prefix}body-bg);
  /*box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);*/
  box-shadow: 0 5px 5px -3px color(0 0 0 0.2), 0 8px 10px 1px color(0 0 0 0.14), 0 3px 14px 2px color(0 0 0 0.12);
}

.ntk-cms-html-list-header button {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.ntk-cms-html-list-body {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  height: auto;
  border: 1px;
  padding: 1px;
  padding-right: 8px;
  border-radius: 5px;
  color: var(--#{$prefix}primary);
  background-color: var(--#{$prefix}body-bg);
  /*box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);*/
  box-shadow: 0 5px 5px -3px color(0 0 0 0.2), 0 8px 10px 1px color(0 0 0 0.14), 0 3px 14px 2px color(0 0 0 0.12);
}

.ntk-cms-html-list-footer {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  height: auto;
  border: 1px;
  padding: 1px;
  padding-right: 8px;
  border-radius: 5px;
  color: var(--#{$prefix}primary);
  background-color: var(--#{$prefix}body-bg);
  /*box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);*/
  box-shadow: 0 5px 5px -3px color(0 0 0 0.2), 0 8px 10px 1px color(0 0 0 0.14), 0 3px 14px 2px color(0 0 0 0.12);
}

.ntk-cms-html-card-header {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  height: auto;
  border: 1px;
  padding: 1px;
  padding-right: 8px;
  border-radius: 5px;
  color: var(--#{$prefix}primary);
  background-color: var(--#{$prefix}body-bg);
  /*box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);*/
  box-shadow: 0 5px 5px -3px color(0 0 0 0.2), 0 8px 10px 1px color(0 0 0 0.14), 0 3px 14px 2px color(0 0 0 0.12);
}

.ntk-cms-html-card-body {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  height: auto;
  border: 1px;
  padding: 1px;
  padding-right: 8px;
  border-radius: 5px;
  color: var(--#{$prefix}primary);
  background-color: var(--#{$prefix}body-bg);
  /*box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);*/
  box-shadow: 0 5px 5px -3px color(0 0 0 0.2), 0 8px 10px 1px color(0 0 0 0.14), 0 3px 14px 2px color(0 0 0 0.12);
}

.ntk-cms-html-card-message {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  height: auto;
  border: 1px;
  padding: 1px;
  padding-right: 8px;
  border-radius: 5px;
  color: var(--#{$prefix}primary);
  background-color: var(--#{$prefix}body-bg);
  /*box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);*/
  box-shadow: 0 5px 5px -3px color(0 0 0 0.2), 0 8px 10px 1px color(0 0 0 0.14), 0 3px 14px 2px color(0 0 0 0.12);
}

.ntk-cms-html-card-footer {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  height: auto;
  border: 1px;
  padding: 1px;
  padding-right: 8px;
  border-radius: 5px;
  color: var(--#{$prefix}primary);
  background-color: var(--#{$prefix}body-bg);
  /*box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);*/
  box-shadow: 0 5px 5px -3px color(0 0 0 0.2), 0 8px 10px 1px color(0 0 0 0.14), 0 3px 14px 2px color(0 0 0 0.12);
}

.ntk-pull-right {
  float: right;
  margin: 3px;
}

.ntk-hover-zoom:hover {
  transform: scale(2);
}

/* karavi popup image */
.ntk-popup {
  zoom: 1;
  position: relative;
  text-decoration: none;
}

.ntk-popup span {
  position: fixed;
  top: 170px;
  left: 500px;
  width: 350px;
  padding: 10px;
  border: 10px solid #000;
  border-radius: 10px;
  left: -999em;
  z-index: 1060;
}

.ntk-hover-big:hover {
  zoom: 5;
}

.ntk-popup:hover span {
  left: 350px;
}

.ntk-popup span {
  position: absolute;
}

/*
 NTK optimaze
*/

html,
body {
  height: 100%;
  margin: 0;
  font-family: IRANSans, Roboto, "Helvetica Neue", sans-serif !important;
}

// mat-tree {
//   font-family: IRANSans !important;
//   color: var(--#{$prefix}primary);
//   background-color: var(--#{$prefix}body-bg);
// }

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input,
.mat-stepper-horizontal,
.mat-stepper-vertical,
.mat-tree,
.mat-mdc-table,
.mat-mdc-paginator {
  font-family: IRANSans, Roboto, sans-serif !important;
  color: var(--#{$prefix}primary);
  background-color: var(--#{$prefix}body-bg);
}


.mat-mdc-slide-toggle .mdc-form-field,
.mat-step-header .mat-step-label.mat-step-label-active,
.mat-mdc-checkbox .mdc-form-field,
.mat-tree-node,
.mat-mdc-paginator,
.mdc-data-table__cell,
.mdc-data-table__header-cell {
  font-family: IRANSans !important;
  color: var(--#{$prefix}primary) !important;
  ;
}

table {
  font-family: IRANSans !important;
}

::ng-deep .mat-slide-toggle-content {
  font-family: "IRANSans" !important;
}

* {
  font-family: IRANSans;
}

/*
 NTK-Cms-mobile
*/
.cms-m-body {
  height: 100%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cms-m-container {
  //background-image: url('/assets/media/bg/citywallpaper.webp');
  //background-repeat: no-repeat;
  //background-position: center;
  //background-size: cover;
  box-shadow: 0 0 10px 0px #212121;
  width: 90%;
  height: 100%;
  border-radius: 10px;
  position: relative;
}

.cms-m-filter {
  height: 100%;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.13);
  border: 2px solid rgba(255, 255, 255, 0.13);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  position: absolute;
  padding: 10px;
  margin-right: 5%;
  margin-left: 5%;
}

.cms-m-container-header {
  width: 100%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;

}

.cms-m-container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  width: 100%;
  height: 20%;
  margin-left: auto;
  margin-right: auto;
}

.cms-m-button {
  width: 100%;
  height: 50px;
  padding: 5px;
  border-radius: 25px;
  border: none;
}

.cms-m-actionsend {
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  height: 50px;
  padding: 5px;
  border-radius: 25px;
  background-color: white;
  margin-top: 10px;
}

.cms-m-form-label {
  //color: white;
  font-size: 14px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
}

.cms-m-form-input {
  width: 100%;
  height: 50px;
  border-radius: 16px;
  display: block;
  outline: none;
  outline: none;
  //color: white;
  background-color: rgba(255, 255, 255, 0.07);
  border: 2px solid #BDC3C7;
  text-align: center;
  font-size: 20px;
  direction: ltr;
}

.cms-m-form-option {
  width: 100%;
  height: 50px;
  margin-top: 30px;
  border-radius: 10px;
  display: block;
  outline: none;
  border: 2px solid #BDC3C7;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.cms-form-result {
  background-color: rgba(255, 255, 255, 0.6);
  width: 98%;
  height: 70%;
  margin-left: 1%;
  margin-right: 1%;
  padding: 1%;
  overflow-y: scroll;
}

/*
 NTK-Cms-mobile
*/