<!-- begin::Row -->
<div class="row gy-5 g-xl-8">
  <div class="col-xxl-4" *ngIf="loadDemoTheme">
    <app-mixed-widget2 class="card card-xl-stretch mb-xl-4" chartColor="danger" chartHeight="200px"
      strokeColor="#cb1e46"></app-mixed-widget2>
  </div>
  <div class="col-xxl-4" *ngIf="loadDemoTheme">
    <app-lists-widget5 class="card card-xxl-stretch"></app-lists-widget5>
  </div>
  <div class="col-xxl-4" *ngIf="loadDemoTheme">
    <app-mixed-widget10 class="card card-xxl-stretch-50 mb-5 mb-xl-4" chartColor="primary"
      chartHeight="150px"></app-mixed-widget10>
    <app-mixed-widget11 class="card card-xxl-stretch-50 mb-5 mb-xl-4" chartColor="primary"
      chartHeight="175px"></app-mixed-widget11>
  </div>
  <div class="col-xl-4" *ngIf="checkModuleExist['estate']">
    <app-estate-customer-order-widget-add [(optionLoading)]="loading" cssClass="gutter-b card-stretch">
    </app-estate-customer-order-widget-add>
  </div>
  <div class="col-xl-4" *ngIf="checkModuleExist['estate']">
    <app-estate-property-widget-add [(optionLoading)]="loading" cssClass="gutter-b card-stretch">
    </app-estate-property-widget-add>
  </div>
  <div class="col-xl-4" *ngIf="checkModuleExist['estate']">
    <app-estate-property-history-widget-add [(optionLoading)]="loading" cssClass="gutter-b card-stretch">
    </app-estate-property-history-widget-add>
  </div>
  <div class="col-xxl-4" *ngIf="loadDemoTheme">
    <app-lists-widget3 class="card card-xxl-stretch mb-xl-3"></app-lists-widget3>
  </div>
  <div class="col-xl-8" *ngIf="loadDemoTheme">
    <app-tables-widget10 class="card card-xxl-stretch mb-5 mb-xl-4"></app-tables-widget10>
  </div>

  <div class="col-xl-4" *ngIf="loadDemoTheme">
    <app-lists-widget2 class="card card-xl-stretch mb-xl-4"></app-lists-widget2>
  </div>
  <div class="col-xl-4" *ngIf="loadDemoTheme">
    <app-lists-widget6 class="card card-xl-stretch mb-xl-4"></app-lists-widget6>
  </div>
  <div class="col-xl-4" *ngIf="loadDemoTheme">
    <app-lists-widget4 class="card card-xl-stretch mb-5 mb-xl-4"></app-lists-widget4>
  </div>

  <div class="col-xxl-4" *ngIf="loadDemoTheme">
    <app-mixed-widget8 class="card card-xxl-stretch mb-xl-3" chartColor="success"
      chartHeight="150px"></app-mixed-widget8>
  </div>
  <div class="col-xxl-8" *ngIf="loadDemoTheme">
    <app-tables-widget5 class="card card-xxl-stretch mb-5 mb-xxl-8"></app-tables-widget5>
  </div>

  <div class="col-xl-4">
    <!-- <app-lists-widget2 class="card card-xl-stretch mb-xl-4"></app-lists-widget2> -->
    <app-coremodule-site-credit-widget-price [(optionLoading)]="loading" class="mb-xl-4 mb-sm-4"
      style="cursor: pointer;" [routerLink]="'/coremodule/site-credit'" *ngIf="this.tokenHelper.isAdminSite">
    </app-coremodule-site-credit-widget-price>
  </div>

  <div class="col-xl-4">
    <app-coremodule-site-user-credit-widget-price [(optionLoading)]="loading" class="mb-xl-4 mb-sm-4"
      style="cursor: pointer;" [routerLink]="'/coremodule/site-user-credit'">
    </app-coremodule-site-user-credit-widget-price>
  </div>
  <div class="col-xl-4">
    <app-core-userclaimcontent-widget-status [(optionLoading)]="loading" class="card mb-xl-4 mb-sm-4">
    </app-core-userclaimcontent-widget-status>
  </div>
  <div class="col-xl-4">
    <app-ticketing-task-widget2 [(optionLoading)]="loading" cssClass="gutter-b card-stretch"
      class="card mb-5 mb-xl-4 mb-sm-4">
    </app-ticketing-task-widget2>
  </div>

  <div class="col-xl-4">
    <app-core-site-widget-count2 [(optionLoading)]="loading" cssClass="gutter-b card-stretch"
      class="card mb-xl-4 mb-sm-4"></app-core-site-widget-count2>
  </div>

  <div class="col-xl-4">
    <div class="card mb-5 mb-xl-4 mb-sm-4" *ngIf="checkModuleExist['application']">
      <app-application-memberinfo-widget2 [(optionLoading)]="loading" cssClass="gutter-b card-stretch"
        class="card mb-xl-4 mb-sm-4">
      </app-application-memberinfo-widget2>
    </div>
  </div>


  <div class="col-xl-4 mb-xl-4 mb-sm-4" *ngIf="checkModuleExist['core']">
    <app-ReportAbuse-widget2 [(optionLoading)]="loading" *ngIf="this.tokenHelper.isAdminSite" cssClass="gutter-b"
      [widgetHeight]="'200px'" [baseColor]="'success'">
    </app-ReportAbuse-widget2>
  </div>
  <div class="col-xl-4 mb-xl-4 mb-sm-4" *ngIf="checkModuleExist['chart']">
    <app-chart-content-widget2 [(optionLoading)]="loading" cssClass="gutter-b" [widgetHeight]="'200px'"
      [baseColor]="'primary'"></app-chart-content-widget2>
  </div>
  <div class="col-xl-4 mb-xl-4 mb-sm-4" *ngIf="checkModuleExist['article']">
    <app-article-content-widget2 [(optionLoading)]="loading" cssClass="gutter-b" [widgetHeight]="'200px'"
      [iconColor]="'success'"></app-article-content-widget2>
  </div>
  <div class="col-xl-4 mb-xl-4 mb-sm-4" *ngIf="checkModuleExist['blog']">
    <app-blog-content-widget2 [(optionLoading)]="loading" cssClass="gutter-b" [widgetHeight]="'200px'"
      [baseColor]="'primary'"></app-blog-content-widget2>
  </div>

  <div class="col-xl-4 mb-xl-4 mb-sm-4" *ngIf="checkModuleExist['biography']">
    <app-biography-content-widget2 [(optionLoading)]="loading" cssClass="gutter-b" [widgetHeight]="'200px'"
      [baseColor]="'primary'"></app-biography-content-widget2>
  </div>
  <div class="col-xl-4 mb-xl-4 mb-sm-4" *ngIf="checkModuleExist['news']">
    <app-news-content-widget2 [(optionLoading)]="loading" cssClass="gutter-b" [widgetHeight]="'200px'"
      [iconColor]="'success'"></app-news-content-widget2>
  </div>
  <div class="col-xl-4 mb-xl-4 mb-sm-4" *ngIf="checkModuleExist['application']">
    <app-application-app-widget2 [(optionLoading)]="loading" cssClass="gutter-b" [widgetHeight]="'200px'"
      [baseColor]="'success'">
    </app-application-app-widget2>

  </div>

  <div class="row">
    <div class="col-xl-6" *ngIf="checkModuleExist['application']">
      <app-application-app-widget-create [(optionLoading)]="loading" cssClass="gutter-b card-stretch">
      </app-application-app-widget-create>
    </div>
  </div>

</div>