.cms-m-body {
  height: 100%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E0E0E0;
}

.cms-m-container {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px 0px #212121;
  height: 100%;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
}

.cms-m-filter{
  height: 100%;
  width: 90%;
  position: absolute;
  padding: 10px;
  margin-left: 5%;
  margin-right: 5%;
  overflow-x: hidden;
}

.cms-m-container-header{
  width: 100%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
}
.cms-m-form-label{
  margin-bottom: 24px;
  margin-top: 15px;
}

.cms-m-form-input{
  width: 100%;
  height: 50px;
  border-radius: 16px;
  display: block;
  outline: none;
  text-align: center;
  font-size: 20px;
  border: 2px solid black;
  position: relative;
}

.cms-m-form-textarea {
  width: 100%;
  height: 170px;
  direction: rtl;
}

.cms-m-container-footer{
  width: 100%;
  height: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.cms-m-button {
  width: 100%;
  height: 50px;
  padding: 5px;
  border-radius: 25px;
  border: none;
}
.grouping-header-selection {
  height: 100%;
  overflow-y: scroll;
}
.grouping-header-form,
.activityStatus-header-selection-form{
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}
.grouping-header-form-option,
.activityStatus-header-selection-form-option{
  height: 50px;
  margin-bottom: 70px;
  border-radius: 25px;
}
.estate-header-form,
.chooseFile-header-form{
  direction: rtl;
}
.icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  margin-left: -4%;
  top: 8%;
  width: 100%;
}

.icon2 {
  position: absolute;
  margin-left: -4%;
  top: 22%;
  width: 100%;
}

button {
  border: none;

}

svg {
  width: 20px;
  height: 20px;
}

span {
  margin-left: 2.5px;
  margin-right: 2.5px;
}