.box {
    height: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E0E0E0;
}
.title{
    width: 90%;
    background-color: #fff;
    box-shadow: 0 0 10px 0px #212121;
    height: 70%;
    border-radius: 10px;
    margin: 0 auto;
}
.title-header{
    width: 90%;
    height: 80%;
    margin-left: 5%;
}
.title-header-form{
    margin-top: 35px;
}
.title-header-form__label{
    margin-bottom: 25px;
    margin-top: 15px;
}
.title-header-form__input{
    width: 100%;
    height: 50px;
    border-radius: 16px;
    display: block;
    outline: none;
    text-align: center;
    font-size: 20px;
}
.title-footer{
    width: 100%;
    height: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}