.box {
  height: 100%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E0E0E0;
}

.title,
.activityStatus,
.selectDate,
.grouping,
.estate,
.chooseFile {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px 0px #212121;
  height: 100%;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
}

.title-filter,
.activityStatus-filter,
.selectDate-filter,
.grouping-filter,
.estate-filter,
.chooseFile-filter {
  height: 100%;
  width: 90%;
  position: absolute;
  padding: 10px;
  margin-left: 5%;
  margin-right: 5%;
  overflow-x: hidden;
}

.title-header,
.activityStatus-header,
.selectDate-header,
.grouping-header,
.estate-header,
.chooseFile-header {
  width: 100%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
}

.title-header-form,
.selectDate-header-form {
  margin-top: 0px;
}

.title-header-form-label,
.selectDate-header-form-label {
  margin-bottom: 24px;
  margin-top: 15px;
}

.title-header-form-input,
.selectDate-header-form-input {
  width: 100%;
  height: 50px;
  border-radius: 16px;
  display: block;
  outline: none;
  text-align: center;
  font-size: 20px;
  border: 2px solid black;
  position: relative;
}

.title-header-form-textarea {
  width: 100%;
  height: 170px;
  direction: rtl;
}

.title-footer,
.activityStatus-footer,
.selectDate-footer,
.grouping-footer,
.estate-footer,
.chooseFile-footer {
  width: 100%;
  height: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.title-footer-btn {
  width: 100%;
  height: 70%;
  border-radius: 25px;
  background-color: #ffe500;
}

.activityStatus-footer-btn,
.selectDate-footer-btn,
.grouping-footer-btn,
.estate-footer-btn {
  width: 30%;
  height: 70%;
  margin-left: 1.6%;
  margin-right: 1.6%;
  border-radius: 10px;
  border-radius: 25px;
  background-color: #ffe500;
}
.activityStatus-header-selection{
  overflow-y: hidden;
}

.grouping-header-selection {
  height: 100%;
  overflow-y: scroll;
}
.grouping-header-form,
.activityStatus-header-selection-form{
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}
.grouping-header-form-option,
.activityStatus-header-selection-form-option{
  height: 50px;
  margin-bottom: 70px;
  border-radius: 25px;
}

// .grouping-header-selection-option {
//   width: 100%;
//   height: 100%;
//   margin-bottom: 10%;
//   border-radius: 16px;
//   padding: 5%;
// }

// .grouping-header-selection-option-select {
//   width: 100%;
//   height: 100%;
//   margin-bottom: 10%;
//   border-radius: 16px;
//   padding: 5%;
//   color: #E0E0E0;
// }
.estate-header-form,
.chooseFile-header-form{
  direction: rtl;
}
.chooseFile-header-title{
  margin: 4px 0 30px;
}

.chooseFile-footer-btn {
  width: 45%;
  height: 70%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border-radius: 25px;
  background-color: #ffe500;
}

.icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  margin-left: -4%;
  top: 9%;
  width: 100%;
}

.icon2 {
  position: absolute;
  margin-left: -4%;
  top: 26%;
  width: 100%;
}

button {
  border: none;

}

svg {
  width: 20px;
  height: 20px;
}

span {
  margin-left: 2.5px;
  margin-right: 2.5px;
}